.Admin {
  padding: 40px 0;
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    input {
      font-size: 20px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px 1px silver;
      max-width: 500px;
      width: 100%;
    }
    button {
      font-size: 20px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 0 10px 1px silver;
      background: none;
      max-width: 400px;
      width: 100%;
    }
  }
}
